<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <link rel="stylesheet" href="style.css"/>
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="map.js"></script>
    </head>

    <body ng-app="app">


        <div ng-controller="RunController as rc" id="box">
        <div id="controls">
            <form>
            <p ng-repeat="run in rc.runs">
                <label class="checkbox">
                    <input type="radio" ng-model="rc.run" ng-value="run" ng-change="rc.updateRun()">
                    <span>Run {{run.id}}</span>
                </label>
            </p>

            </form>
        </div>

        <div id="sliders">
            <form>
<!--                <input type="range" ng-model="rc.time" max="{{rc.durations[rc.duration]}}" ng-mouseup="rc.updateTime()", step="1", min="0">-->
<!--                Time (m) = {{rc.time}}-->
                <input type="range" ng-model="rc.duration" min="0", max="2", step="1" ng-mouseup="rc.findRun()">
                Duration (minutes) = {{rc.durations[rc.duration]}}
                <input type="range" ng-model="rc.amount" min="0", max="4", step="1" ng-mouseup="rc.findRun()">
                Rainfall amount (mm) = {{rc.amounts[rc.amount]}}
                <input type="checkbox" ng-model="rc.green" ng-change="rc.findRun()">
                Green Areas

            </form>
        </div>
        </div>

        <div id="mapid"></div>

    </body>
</html>





