.main {
    /*height: 100vh; !* Fallback for browsers that do not support Custom Properties *!*/
    height: calc(var(--vh, 1vh) * 100 - 30px);
}

.weather-dropdowns {
    width: 100%;
    padding: 10px;
}


.weather-dropdowns .dropdown {
    width: 100%;
    padding-bottom: 10px;
}

#weather-container {
    height: 50vh;
}

#weather {
    height: 50vh;
}

#locations {
    width: 60vw;
}

#map-and-dropdown-container {
    display: inline-flex;
    width: 100%;

}