.main {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100 - 30px);
    display: flex;
    flex-direction: column;
}

.weather-dropdowns {
    flex: 1 1 0;
    padding: 10px;
}


.weather-dropdowns .dropdown {
    width: 100%;
    padding-bottom: 10px;
}

#loading-container {
    flex: 1.5;
    min-height: 0;
}

#loading-container > div {
    height: 100%
}

#weather {
    height: 100%;
    min-height: 0;
}

#locations {
    width: 100%;
    height: 100%;

}

#locations-container {
    flex: 1 1 0;
    min-width: 0;
}

#map-and-dropdown-container {
    display: inline-flex;
    width: 100%;
    flex: 1;
    min-height: 0;

}

#controls {
    margin: 5px;
    /*pointer-events: none;*/
    z-index: 20;
}

#basemap {
    width: 200px;
}

#map-conatiner > div {
    pointer-events: none;
}

#sliders {
    display: flex
}

#sliders > div {
    flex: auto;
}

#map {
    height: 100%;
}

#map-container {
    flex: auto;
    min-height: 0;
}

input {
    margin: 5px;
}

#checkbox-container {
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;

}

.checkbox {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}