.main {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100 - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

nav {
    width: 100%;
}

.content {
    max-width: 1140px;
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

#loading-container {
    flex-basis: 0;
    flex-grow: 1.5;
    flex-shrink: 1;
    min-height: 0;
}

#loading-container > div {
    height: 100%
}

#weather {
    height: 100%;
}

.dropdowns-container {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    padding: 10px;
}

.dropdowns-container .dropdown {
    width: 100%;
    padding-bottom: 10px;
}

#locations {
    width: 100%;
    height: 100%;
    padding: 10px;

}

#locations-container {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
}

#locations-and-dropdown-container {
    display: inline-flex;
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;

}

/*Flood.py CSS*/

#controls {
    margin: 5px;
    /*pointer-events: none;*/
    z-index: 20;
}

#basemap {
    width: 200px;
}

#map-conatiner > div {
    pointer-events: none;
}

#sliders {
    display: flex
}

#sliders > div {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

#map {
    height: 100%;
}

#map-container {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    min-height: 0;
}

input {
    margin: 5px;
}

#checkbox-container {
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;

}

.checkbox {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}